body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #808080;

}
h2 {
	font-size: 30px;
	font-weight: 600;
	color: #444444;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #808080;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    color: red;
}
.card{

    background:#331845;
}
.mr {
    margin: 0;
    padding: 0;
}
/*
==================
Common CSS
==================
*/
.sec-title {
    text-align: center;
    background: #6DD200;
}
.sec-title .sut-title {
    color: blue;
    padding: 5px;
    font-size: 20px;
}
.sec-title h3 span {
    color:black;
}
.bottom-style {
    position: relative;
    width: 10%;
    background: #8bc34a;
    height: 6px;
    margin: auto;
    top: 7px;
}
.bottom-style:after {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    background: #e8e8e8;
    height: 2px;
    top: 1px;
    z-index: -9;
}


/*
======================
Header Area
======================
*/
.top-content {
    display: flex;
    justify-content: space-between;
}
.top-bar {
    background: #343434;
}

.top-left ul,
.top-right ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.top-left ul li,
.top-right ul li {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}
.top-left ul li {
    margin-right: 25px;
}
.top-left ul li i {
    margin-right: 6px;
}

.top-right ul li a {
    color: #7d7d7d;
    margin-left: 15px;
}
.top-right ul li a:hover {
    color: #fff;
}

/*Menu*/
.menu-area {
    
}
.menu-area .navbar-light .navbar-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
}
.menu-area .navbar-light .navbar-nav li a {
    color: #444;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-left: 15px;
}
.menu-area .navbar-light .navbar-nav li.active a {
    color: #8bc34a;
}

p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: red;
}



.btn {
    margin: 40px 10px 20px;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.7);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.7);
    box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.7);
    background-color:#6DD200;
    background: -moz-linear-gradient(center top,#ffdd00 5%,#e8c500 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd00',endColorstr='#e8c500');
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    color: black;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding: 20px 45px;
    text-decoration: none;
    text-shadow: -1px 1px 0px #faf562;
    line-height: 23px;
    overflow: hidden;
}
.button-aria{
    text-align: center;
}


@media only screen and (max-width: 511px){
   
       h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .sec-title .sut-title {
    font-size: 20px;
    }
   
    .sec-title h3 span {
        font-size: 20px;
     }
     p {
    font-size: 40px;
    margin-top: 7px;
    }

   .btn {
    margin: 15px 15px 28px;
    font-size: 20px;
    padding: 20px 35px;

}


@media only screen and (max-width: 480px){
  
     h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .sec-title .sut-title {
    font-size: 20px;
    }
   
    .sec-title h3 span {
        font-size: 20px;
     }
     p {
    font-size: 40px;
    margin-top: 7px;
    }

   .btn {
    margin: 15px 15px 28px;
    font-size: 20px;
    padding: 20px 35px;

}
}
@media only screen and (max-width: 388px){
       h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .sec-title .sut-title {
    font-size: 15px;
    }
   
    .sec-title h3 span {
        font-size: 15px;
     }
     p {
    font-size: 28px;
    margin-top: 7px;
    }

   .btn {
    margin: 10px 10px 20px;
    font-size: 15px;
    padding: 15px 30px;

}
  
}

@media only screen and (max-width: 300px){
    h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .sec-title .sut-title {
    font-size: 15px;
    }
   
    .sec-title h3 span {
        font-size: 15px;
     }
     p {
    font-size: 28px;
    margin-top: 7px;
    }

   .btn {
    margin: 10px 10px 20px;
    font-size: 15px;
    padding: 15px 30px;

}
}